{# Load values from Salla settings #}
{% set announcement_text = settings.announcement_text %}
{% set announcement_start_color = settings.announcement_start_color %}
{% set announcement_end_color = settings.announcement_end_color %}

<div class="announcement-bar"
     style="background: linear-gradient(90deg, {{ announcement_start_color }}, {{ announcement_end_color }});">

    <p>{{ announcement_text }}</p>
</div>

<style>
    .announcement-bar {
        width: 100%;
        padding: 8px 0;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
    }
</style>
