{% if component.announcement_bar_enable %}
  <div class="announcement-bar py-2 text-center"
       style="
       background: linear-gradient(90deg, #FC668C 0%, #90B4E4 24.45%, #FB6C8B 56.13%, #90B4E4 94.29%);
;
        color: {{ component.announcement_bar_text_color }};">
     {{ component.announcement_bar_content }}
  </div>
{% endif %}

