{% if component.announcement_bar_content %}
  <div class="announcement-bar py-2 text-center"
       style="background-color: {{ component.announcement_bar_bg_color }};
        color: {{ component.announcement_bar_text_color }};">
     {{ component.announcement_bar_content }}
       {{ component.rich_text }}
  </div>
{% endif %}

<div class="announcement-bar py-2 text-center" style="background-color:red; color:white;">
  Test Announcement Bar
</div>
<style>
    .announcement-bar {
  display: block !important;
  position: relative;
  z-index: 9999;
}
</style>
