{% if component.announcement_bar_enable %}
  <div class="announcement-bar py-2 text-center"
       style="background-color: {{ component.announcement_bar_bg_color }};
        color: {{ component.announcement_bar_text_color }};">
     {{ component.announcement_bar_content }}
  </div>
{% endif %}

